 <%= stylesheet_link_tag 'landing.css', media: 'all', 'data-turbolinks-track': 'reload' %>
<nav class="nav_landing">
  <div class="logo_container_landing">
      <%= image_tag('landing/SportexLogo.png', :alt => 'SPORTEX') %>
  <p class="live">LIVE</p>
  </div>
  <div class="container_menu">
    <%= image_tag('landing/menu.svg', :width => '30px', :alt => 'rss feed', :id => 'menu_hamburger') %>
    <%= image_tag('landing/closeMenu.svg', :width => '30px', :alt => 'rss feed', :id => 'close_menu') %>
  </div>
  <div class="links_container_landing">
    <a href="#">Home</a>
    <a href="#game">Game</a>
    <a href="#acquire_player">Acquire player</a>
    <a href="#training">Training</a>
    <a href="#power_cards">Power Cards</a>
    <a href="#">Road map</a>
    <%= link_to 'Login', dashboard_path, class: 'btn-menu' %>
  </div>
</nav>
<div class="container_banner_landing">
  <%= image_tag('landing/NFT.svg', :alt => 'rss feed', :class => 'image_nft_landing') %>
  <div class="container_content_banner_landing">
    <div class="container_title_landing">
      <h1 class="title_banner_landing">Discover,and collect Digital Players NFTs </h1>
    </div>
    <div class="container_stadistics">
      <div class="stadistics">
        <div>
          <h1>99+</h1>
          <p>Players</p>
        </div>
        <div>
          <h1>12k+</h1>
          <p>NFTs</p>
        </div>
        <div>
          <h1>15k+</h1>
          <p>Artists</p>
        </div>
      </div>
      <div class="comingson_landing">
        <%= image_tag('landing/comingsoon.svg', :alt => 'rss feed', :class => 'image_comingsoon_banner_landing') %>
      </div>
    </div>
  </div>
</div>
<div id="game" class="video_landing">
  <div class="container_content_landing_video">
    <div class="texts_video_landing">
      <h1>Meet The Sportx NFT</h1>
      <p>Create teams with the best players and enter a battle to achieve greatnessk</p>
    </div>
    <div class="container_video_landing">
      <%= image_tag('landing/NFT.svg', :alt => 'rss feed', :class => 'nft_image_video') %>
      <%= image_tag('landing/playIcon.svg', :alt => 'rss feed', :class => 'open_modal') %>
      <div class="video_modal_landing">
        <div class="video_player_landing">
          <video class="video_landing_control" controls>
            <source src="/videos/videoSportx.mp4" type="video/mp4">
            Tu navegador no soporta el elemento video.
          </video>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="counters">
  <div class="counter-live-rewards">
    <h1>NFT live rewards</h1>
    <div class="container-counter-rewards">
      <div>
        <span id="days-rewards"></span>
        <p>Days</p>
      </div>
      <div>
        <span id="hours-rewards"></span>
        <p>Hours</p>
      </div>
      <div>
        <span id="minutes-rewards"></span>
        <p>Minutes</p>
      </div>
      <div>
        <span id="seconds-rewards"></span>
        <p>Seconds</p>
      </div>
    </div>
    <h2>25 June 2023</h2>
  </div>
</div>
<section class="web">
      <%= image_tag('landing/WEB1.jpg', :alt => 'rss feed', :class => 'img_live') %>
      <%= image_tag('landing/WEB2.jpg', :alt => 'rss feed', :class => 'img_live') %>
      <%= image_tag('landing/WEB3.jpg', :alt => 'rss feed', :class => 'img_live') %>
      <%= image_tag('landing/WEB4.jpg', :alt => 'rss feed', :class => 'img_live') %>
      <%= image_tag('landing/WEB5.jpg', :alt => 'rss feed', :class => 'img_live') %>
      <%= image_tag('landing/WEB6.jpg', :alt => 'rss feed', :class => 'img_live') %>




</section>
<!-- <section class="live_pasion">



</section>
<section class="fisrt_collection">


</section>
<section class="whether_fan">
</section>

<section class="win_rewards">
</section>
<section class="get_nft">
</section>
<section class="time_line">
</section>
<div id="acquire_player" class="acquire_player">
  <div class="container_acquire_players">
    <div class="texts_acquire_players">
      <h1>Acquire players</h1>
      <p>Create teams with the best players and enter a battle to achieve greatness</p>
    </div>
    <div class="container_card_acquire">
      <div class="cards_acquire_players">
        <div class="card_acquire">
          <div class="card_icon">
            <%= image_tag('landing/check.png', :alt => 'rss feed') %>
          </div>
          <p>Play</p>
        </div>
        <div class="card_acquire">
          <div class="card_icon">
            <%= image_tag('landing/check.png', :alt => 'rss feed') %>
          </div>
          <p>Power Cards</p>
        </div>
        <div class="card_acquire">
          <div class="card_icon">
            <%= image_tag('landing/check.png', :alt => 'rss feed') %>
          </div>
          <p>Invest</p>
        </div>
        <div class="card_acquire">
          <div class="card_icon">
            <%= image_tag('landing/check.png', :alt => 'rss feed') %>
          </div>
          <p>Store</p>
        </div>
      </div>
    </div>
  </div>
</div>-->
<div id="power_cards" class="build_team">
  <div class="blob_1_build_team"></div>
  <div class="blob_2_build_team"></div>
  <div class="title_build_team">
    <h1>Build the best team</h1>
  </div>
  <div class="container_content_build_team">
    <div class="build_team_left">
      <div class="container_image">
        <%= image_tag('landing/player.png', :alt => 'rss feed') %>
      </div>
      <div class="container_info">
        <div class="name">
          <span>Allison</span>
          <span>Allison</span>
        </div>
        <hr>
        <div class="price">
          <span>Current BID</span>
          <span>DAS</span>
        </div>
      </div>
    </div>
    <div class="build_team_right">
      <div class="square">
        <div class="buffon_container">
          <span>Buffon</span>
        </div>
        <div class="container_image">
          <%= image_tag('landing/player.png', :alt => 'rss feed') %>
        </div>
        <div class="price">
          <span>Current BID</span>
          <span>0.0002</span>
        </div>
      </div>
      <div class="square">
        <div class="buffon_container">
          <span>Buffon</span>
        </div>
        <div class="container_image">
          <%= image_tag('landing/player.png', :alt => 'rss feed') %>
        </div>
        <div class="price">
          <span>Current BID</span>
          <span>0.0002</span>
        </div>
      </div>
      <div class="square">
        <div class="buffon_container">
          <span>Buffon</span>
        </div>
        <div class="container_image">
          <%= image_tag('landing/player.png', :alt => 'rss feed') %>
        </div>
        <div class="price">
          <span>Current BID</span>
          <span>0.0002</span>
        </div>
      </div>
      <div class="square">
        <div class="container_image">
          <div class="buffon_container">
            <span>Buffon</span>
          </div>
          <%= image_tag('landing/player.png', :alt => 'rss feed') %>
        </div>
        <div class="price">
          <span>Current BID</span>
          <span>0.0002</span>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="join_community">
  <div class="container_content_join_community">
    <h1>Join Our Community</h1>
    <p>Join the soccer metaverse universe! Collect, share and sell your best characters and football icons.</p>
    <button>Buy on Sportx Marketplace</button>
  </div>
</div>
<!-- FOTTER -->
<div class='container_footer_landing'>
  <div class='container_content_footer_landing'>
    <div class='footer_column footer_column_1'>
      <h1>Company</h1>
      <p>About us</p>
      <p>Blog</p>
      <p>Contact us</p>
    </div>
    <div class='footer_column footer_column_2'>
      <h1>Support</h1>
      <p>Help center</p>
      <p>Terms of service</p>
      <p>Status</p>
    </div>
    <div class='footer_column footer_column_3'>
      <h1>Stay to up date</h1>
      <input type="email" placeholder='Your email address' />
      <button>Send</button>
    </div>
  </div>
</div>
<%= content_tag(:div, '', data: {
                            controller: 'landing',
                          }) %>
