<%= stylesheet_link_tag "sesions.css", media: "all", 'data-turbolinks-track': "reload" %>
<div class="background_login">
  <div id="modalInstallMetamask"></div>
  <div id="loader"></div>
  <div class="container_sign_in">
    <div class="content_sign_in">
      <p class="title">SPORTEX</p>
      <% if !logged_in? %>
        <%= form_tag new_user_session_path, class: "new_session" do %>
          <%= text_field_tag :eth_message, "", readonly: true, class: "eth_message", hidden: true %>
          <%= text_field_tag :eth_address, "", readonly: true, class: "eth_address", hidden: true %>
          <%= text_field_tag :eth_signature, "", readonly: true, class: "eth_signature", hidden: true %>
        <% end %>
        <br/>
        <button class="ButtonEthConnect ">
          <%= image_tag("symbolMetamask.png", :width => "40px", :alt => "rss feed") %>
          Login with Metamask</button>
        <div class="linkMetamask">
          <a target="_blank" href="https://chrome.google.com/webstore/detail/metamask/nkbihfbeogaeaoehlefnkodbefgpgknn?hl=en">Click to install metamask</a>
        </div>
        <br />
        <br />
        <div class="otherOptions">
          <p>OR</p>
          <button  onclick="location.href='<%= new_user_registration_path %>'" data-turbolinks="reload">Sign up</button>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div>
  <%= content_tag(:div, "", data: {
                            controller: "sessions",
                          }) %>
